[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
verbosity = 2

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
